.columnbox1 {
  width: 25%;
  height: auto;
  box-sizing: border-box;
  border: 1px solid black; 
  border-right: none;
  margin-top: 1.5%;
  background-color: rgb(228, 202, 228);
  display: none; 
}

.columnbox2 {
  width: 25%;
  height: auto;
  box-sizing: border-box;
  border: 1px solid black; 
  margin-top: 1.5%;
  background-color: rgb(228, 202, 228);
  display: none; 
}

.capsule {
  margin: auto; 
  width: 75%;
}

.bold {
  font-weight: bold; 
  font-size: 110%; 
  text-align: center;
  font-family: monospace;
  display: block;
  margin-bottom: 2%;
  margin-top: 1%;
}

#stars {
  width: 100%;
  height: auto; 
}

#shuttle {
  width: 8%;
  height: auto;
  margin-left: 3%;
  margin-top: 2%
}

#shuttleText {
  margin: auto;
  margin-top: 5%;
  margin-left: 1%;
  font-weight: bold;
  font-family: monospace;
  font-size: 120%;
}

.btn {
  display: block;
  margin: auto;
  margin-top: 3%; 
  font-family: monospace; 
  font-weight: bold;
  background-color: lightgrey;
}

#mercury, #venus, #mars, #jupiter, #mercuryTimeLeft, #venusTimeLeft, #marsTimeLeft, #jupiterTimeLeft {
  font-weight: bold; 
  font-size: 110%; 
  text-align: center;
  font-family: monospace;
  border-top: 1px solid rgba(255,255,255,.55);
  margin-right: 5px;
  margin-left: 5px;
  margin-bottom: 4%;
  padding-top: 4%
}

#explanation {
  font-weight: bold; 
  font-size: 110%; 
  text-align: center;
  font-family: monospace;
  display: none;
  margin-bottom: 2%;
  margin-top: 2.3%;
}

#departingMessage {
  font-weight: bold; 
  font-size: 110%; 
  font-family: monospace;
  text-align: center;
  display: none;
  margin-bottom: 2%;
  margin-top: 4%;
}

#earth {
  font-weight: bold; 
  font-size: 110%; 
  text-align: center;
  font-family: monospace;
  display: none;
  border-top: 1px solid rgba(194, 181, 181, 0.55);
  border-bottom: 1px solid rgba(194, 181, 181, 0.55);
  margin-top: 3.5%;
  margin-left: 20%;
  margin-right: 20%;
  padding-top:2.7%;
  padding-bottom: 2.7%;
}
