.columnbox1 {
  width: 25%;
  height: auto;
  float:left;
  box-sizing: border-box;
  border: 3px solid black; 
  border-right: none;
  margin-bottom: 25px; 
  background-color: floralwhite;
  box-sizing: border-box;
}

.columnbox2 {
  width: 25%;
  height: auto;
  float:left;
  border: 3px solid black; 
  margin-bottom: 25px;
  box-sizing: border-box; 
  background-color: floralwhite;
}

.capsule {
  margin: auto; 
  width: 75%;
}

.bold {
  font-weight: bold; 
  font-size: 120%; 
  margin-bottom: 40px;
  text-align: center;
}

#stars {
  float: left; 
  width: 40%;
  height: auto; 
  display: block;
}

#shuttle {
  width: 8%;
  height: auto;
  margin-left: 2%;
}

#shuttleText {
  margin: auto;
  margin-left: 1%;
  font-weight: bold;
  font-family: monospace;
  font-size: 120%;
}
